*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #a6e3e9;
    color:rgb(0, 0, 0);


}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(img/3.png);
    background-size: 15%;
    background-position: right 20% bottom 45%;
    background-repeat: no-repeat;
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}
.logo2{
    width: 140px;
    position: relative;
    left: 34%;
    bottom: -200px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px
}

nav ul li a{
    color:black;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0px;
    height: 5px;
    background: azure;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 500ms;
}

nav ul li a:hover::after{
    width: 100%;
}
.text{
    margin-top: 10%;
    font-size: 20px;
}
.text h1{
    font-size: 120px;
}

.title1{
    margin-top: 5%;
    font-size: 30px;
    font-weight: 100;
}

.text2 p{
    margin-top: 1%;
    font-size: 20px;
    color: #303841;
    line-height: 1.5;
    text-indent: 50px;
}

#dowhat{
    padding: 30px 0;
}
.container2{
    padding: 10%;
}
.list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.do{
    background: #defcfc;
    padding: 40px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}

.do i{
    font-size: 50px;
    margin-bottom: 30px;
}
.do h2{
    font-size: 25px;
    font-weight: 80;
    margin-bottom: 15px;
}
.more{
    width: 100%;
    height: 0;
    background: #fff6be;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 1s;
}
.do:hover .more{
    height: 100%;
}